$shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
$black: #222;
$white: #fafafa;
$primary-color: #feb667;
$bg-color: #ede5dd;
$bg2-color: #e5d9cd;

#modules {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 72px;
  // justify-content: center;
  position: relative;

  .modules {
    top: 12.5%;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .module {
      color: $black;
      cursor: pointer;
      border-radius: 8px;
      background-color: $bg-color;
      box-shadow: $shadow;
      padding: 16px 24px;
      gap: 24px;
      display: flex;
      align-items: center;

      .module-icon {
        height: 40px;
        text-align: center;
      }

      .module-info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;

        .module-title {
          font-weight: 600;
          font-size: 1.1rem;
        }

        .module-description {
          font-size: 0.8rem;
        }
      }

      .module-next {
        color: $black;
        font-size: 2rem;
      }
    }
  }

  .emergent-products {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .product-image {
    padding: 1rem;
    box-sizing: border-box;
  }

  .emergent-products-list {
    border-radius: 8px;
    padding-bottom: 12px;
    display: flex;
    gap: 32px;
    box-sizing: content-box;
    overflow-x: scroll;
  }
}
