$shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
$black: #222;
$white: #fafafa;
$primary-color: orange;
$bg-color: #ede5dd;
$bg2-color: #e3d9cf;
$red: #d05555;

* {
  font-family: "Poppins";
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 48px;
  background-color: #ede5dd;
  border-radius: 12px;
  width: 35%;

  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;

  box-shadow: $shadow;
}

#inp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 32px;
}

.input {
  width: 70%;
  position: relative;
}

.submit {
  margin-top: 24px;
  display: flex;
}

.placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  pointer-events: none;
  background-color: #ede5dd;
  padding: 0px 8px;
  transition: 0.1s ease-in-out all;
  color: #22222290;
  font-size: 1.1rem;

  &.not-empty{
    top: -.2rem;
    color: #22222295;
  }
}

input {
  box-sizing: border-box;
  height: fit-content;
  padding: 12px;

  font-size: 16px;
  background: #ede5dd;
  border: 2px solid #848484;
  border-radius: 8px;
  width: 100%;
  transition: 0.1s ease-in-out all;

  &:focus + .placeholder {
    top: -.2rem;
    color: #222;
    padding: 0 6px;
    font-weight: 500;
    color: $black;
  }

  &:valid:not(:focus) + .placeholder {
    color: #22222290;
    font-size: 1rem;
  }

  &:focus {
    border: 3px solid $black;
  }
}

#submit_button {
  height: 20px;
  padding: 12px;

  font-size: 16px;
  background: #ede5dd;
  border: 2px solid #848484;
  border-radius: 8px;
  width: 100%;

  width: fit-content;
  height: fit-content;
  padding: 8px 48px;
  cursor: pointer;
  margin: 0 auto;
}

#logo {
  height: 15vh;
}

.form-btns {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  margin-top: -12px;

  #fp {
    text-align: right;
  }

  span {
    font-size: 0.85rem;
    opacity: 0.9;
    cursor: pointer;
    transition: 0.15s all ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.input-error {
  color: $red;
  margin-top: 4px;
  font-size: 13px;
  display: none;
}

#toggle-pass {
  img {
    width: 20px;
  }

  position: absolute;
  right: 12px;
  opacity: 0.8;
  top: 16px;
  transition: 0.2s ease-in-out all;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &::selection {
    background-color: transparent;
  }
}
