#product {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
#product .product-info {
  display: flex;
  justify-content: space-between;
}
#product .product-info .product-thumbnail {
  display: grid;
  place-items: center;
  position: relative;
}
#product .product-info .product-thumbnail .product-thumbnail-image {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
  width: 16rem;
  height: 14rem;
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #ede5dd;
  box-sizing: border-box;
}
#product .product-info .product-thumbnail .edit-thumbnail {
  cursor: pointer;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  background-color: #fafafa;
  padding: 8px;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
#product .product-info .product-data {
  width: 62.5%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#product .product-info .product-data .product-title-container {
  width: 100%;
  display: flex;
  align-items: baseline;
  gap: 16px;
}
#product .product-info .product-data .product-title-container .product-title {
  font-weight: 600;
  font-size: 26px;
  background-color: transparent;
  resize: horizontal;
  width: 200px;
  font-family: "Space Mono" !important;
}
#product .product-info .product-data .product-title-container .product-title:disabled {
  color: #222;
}
#product .product-info .product-data .product-title-container img {
  height: 18px;
}
#product .product-info .product-data #selling-details {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
#product .product-info .product-data #selling-details .selling-detail {
  display: flex;
  flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 12px;
  position: relative;
}
#product .product-info .product-data #selling-details .selling-detail #product-price {
  padding-left: 32px;
}
#product .product-info .product-data #selling-details .selling-detail #product-price ~ span {
  position: absolute;
  bottom: 0.5rem;
  left: 12px;
  font-size: 0.8rem;
}
#product .product-info .product-data #selling-details .selling-detail .selling-detail-title {
  font-weight: 500;
  font-size: 16px;
}
#product .product-info .product-data #selling-details .selling-detail .selling-detail-value {
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 14px;
  background-color: #ede5dd;
  padding: 8px;
  border-radius: 8px;
  width: 96px;
  outline: none;
  border: none;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
  padding-left: 20px;
}
#product .product-info .product-data #add-new {
  display: flex;
  gap: 24px;
  align-items: center;
  background-color: #ede5dd;
  padding: 12px 24px;
  border-radius: 8px;
  box-sizing: inherit;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
}
#product .product-info .product-data #add-new .add-icon {
  height: 32px;
}
#product .product-info .product-data #add-new .add-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#product .product-info .product-data #add-new .add-info .add-title {
  font-weight: 600;
  font-size: 16px;
}
#product .product-info .product-data #add-new .add-info .add-desc {
  font-size: 13px;
}
#product #stock .buy {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #ede5dd;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
}
#product #stock .buy .buy-icon-shop {
  height: 40px;
}
#product #stock .buy .buy-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#product #stock .buy .buy-info .buy-title {
  display: flex;
  gap: 32px;
  align-items: baseline;
}
#product #stock .buy .buy-info .buy-data {
  display: flex;
  justify-content: space-between;
}
#product #stock .buy .buy-info .buy-data .buy-data-value {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}
#product #stock .buy .buy-info .buy-data .buy-data-value .medium {
  font-size: 15px;
}

.small-text {
  font-size: 11px;
}

#warn {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3137254902);
  background-color: #fafafa;
  border-radius: 8px;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  gap: 16px;
}
#warn button, #warn img {
  display: flex;
  align-items: center;
  transition: all 0.2s linear;
  padding: 4px;
  border-radius: 8px;
}
#warn button:hover, #warn img:hover {
  background-color: #e3d9cf;
}
#warn button #confirm, #warn img #confirm {
  width: 32px;
  height: 32px;
  background-color: #418c25;
  -webkit-mask: url("/assets/check.svg") no-repeat center;
  mask: url("/assets/check.svg") no-repeat center;
}
#warn button #cancel, #warn img #cancel {
  padding: 8px;
  width: 16px;
}/*# sourceMappingURL=product.css.map */